
.card-img, .card-img-top {
    height: 189px;
    width: 300px;
}
.mainheight{
    width: 18rem;
    height: 22rem;
}
.grid{
  display: grid;
  grid-template-columns:auto auto auto auto;
  grid-column-gap: 30px;;
}
.volentainers{
  border-radius: 50px;
  
}

.Volunteers_container{
  display: grid ;
  grid-template-columns: auto auto;
}
.market_detail{

 color:black;
}
h4{
  font-size: 20px;
  color:blueviolet;
  border: black solid 1px;
  margin-left: 90px;
  margin-right:90px;
  background-color: cadetblue;
  border-radius: 50px;

}
.top{
  margin-top:98px;
  color: #f1f0e3;
}