.credentials{
    margin-bottom: 33px;
    color:black;
    font-weight: bold;
}
.textfield{
    margin-top: 40px;
  
    height: 135px;
    width: 340px;
    border: 1px rgb(110, 91, 91) solid;
 
}
.donateleftpara{
    margin: 20px;
    font-size: 15px;
    color: rgba(245, 227, 224, 0.616);
}
.donateoptions{
    background: transparent;
   
    width: 340px;
}

.inputtran{
    background-color:  rgb(89, 173, 173);
    border: 1px rgb(110, 91, 91) solid;
    width: 340px;
    padding:06px;
    border-radius: 20px;
}
::placeholder{
    color: black;
}
.donatebtn{
    margin:10px;
 background-color: #1d1d33;
    padding:8px;
    border-radius: 10px;
    color:red;
}
.rupees{
    height:28px ;
    border: 1px rgb(110, 91, 91) solid;
    background: transparent;
    color: rgb(214, 16, 16);
}
h6{
    font-size: 20px;;
    margin-top: 31px;
}

.Diff_product{
    margin-top: -20px;;
}
.option_product{
    margin-top: -7px;
}
