.background  {
  padding: 5px;
  background-color: red;
  border-radius: 15px;
}
.input_new{

    padding-top: 7px;
    padding-bottom: 5px;;
}
.new_pass_heading{
    margin-top: 150px;
}
.frgtpassw{
    background-color: #5f7953c4;
   margin-top: 70px;
   margin-left: 300px;;
   margin-right: 300px;;
}