.btn1{
    margin-bottom: 2px;;
}
.regcont{
    margin:70px;
}
.one_password{
    padding: 30px;;
}
.login_heading{
    margin-top: 77px;;
    font-size: 40px;
    font-style:italic;
}
.container_login{
background-color: rgb(71, 121, 121);
 margin: 300px;
margin-top: 50px;; 
box-shadow: 20px 20px  20px 20px gray;
border-radius: 30px;
padding-top:40px;
}
label{
    margin-top: 10px;
}
.forgetpassword{
    margin-top: -100px;;
    color: red ;
    margin-left: 30px;;
}
/* .login_back{
    margin-bottom: -40px;
} */
.modalbody{
    /* width: 100%; */
    margin: 168px;
}