.navbar{
    background-color: #1d1d33;
    width:100%;
    height: 50px;
    display:grid;
    grid-template-columns: 30px 620px  100px 158px 146px 92px  137px;
    text-decoration:none;
    padding-top: 20px;
    font-size: 20px;
    position:fixed;
    top:0px;
    margin-left: -1px;
    z-index: 1;

}

.navlogo{
    width:65px;
    height: 65px;
    margin-top:-17px ;
    background-color:blanchedalmond;
    border-radius: 50px;
}
.home{
    text-decoration:none;
    color: cadetblue;
}
.Register{
    text-decoration:none;
    color: cadetblue;
  
}

.Login{
    text-decoration:none;
    color: cadetblue;

}
.heading{
  color: cadetblue; 
    margin-left: -245px;
    font-size: 28px;;
}
.logOut{
    text-decoration:none;
    color: cadetblue;

}
.admin{
    text-decoration:none;
    color: cadetblue;
  }