
.register
  {
    background-color: gainsboro;
    padding-top: 30px;

  
  }
.frm
  {
   padding-left: 10px;
  }
.btn1
  {
    height: 35px;
    background-color: rgb(106, 106, 204);
    color: white;
    padding-left:8px;
    border-radius: 15px;;
    border-color: rgb(106, 106, 204);;
  }
a
  {
     margin-left: 15px;
  }
.one
  {
      width: 35%;
      padding: 7px;
      background-color: rgb(23, 56, 58);
      border-radius: 7px;
  }
  .one:hover{
   background-color:rgb(139, 100, 139);  }
p{
      color: red;
  }
label{
    margin-top: 90px;

    color:white;
  }
.regcontnt{
      background-color: rgb(71, 121, 121);
      margin: 300px;
      margin-top: 50px;;
      box-shadow: 20px 20px  20px 20px gray;
      border-radius: 30px;
      padding:20px;
  }
  .name2{
    margin-top:-20px;
    color:white;
  }
  .next_login{
    color:rgb(109, 11, 11);
  }
  .btn2{
    border:2px solid  #bd1414;
    padding: 5px;;
    color: white;
    border-radius: 30px;
    text-decoration: none;
    background-color:#bd1414; 
    font-size: 15px;
    box-shadow: 1px 1px gary;
  }
  .drap_down{
    width: 38%;
    padding: 7px;
    background-color: rgb(23, 56, 58);
    border-radius: 7px;
  }
  .register_name{
    margin-bottom:10px;
  }
  .firstname
  {
    margin-bottom: 10px;
  }