.product_images{
    width: 295px;
    height: 150px;
    box-shadow: 10px 10px 10px  10px  gray;
}

.user_card{
    display: grid;
    grid-template-columns: 300px 300px 300px ;
    grid-gap: 20px;;
    margin-left: 147px;
    margin-top: 80px;;
}
.Buying_button{
    padding-left: 25px;
    padding-right: 25px;;
    border-radius: 30px;;
    margin-left:150px;;
    margin-top:-30px;
    background-color: lightblue;
}

.product_fontclr{
    color:black;
    box-shadow: 10px 10px 10px 10px  gray;
    font-style: italic;
}
.body{
    /* background-image:url('../image/background.jpg'); */
    background-image: no-repeat;
    background-size: cover;
    opacity:1;;
    background-color: rgb(93, 136, 136);
    
}